* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    height: 100px;
    margin: .5rem .5rem 0 0;
}

header {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

@media(min-width: 1000px) {

    .logo {
        width: 150px;
        height: 150px;
        margin: 2rem 2rem 0 0;
    }
}

