.burger-menu {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    cursor: pointer;
    z-index: 10;
}

span {
    display: block;
    border: solid rgb(255, 255, 255);
    border-radius: 1rem;
    width: 1.5rem;
    transition: transform .5s ease, width .5s ease;
}

.span2 {
    width: 2.5rem;
    transition: opacity .3s ease;
}

.burger-menu.open .span1 {
    transform: translateY(0.875rem) rotate(45deg);
}

.burger-menu.open .span2 {
    transition: opacity .3s ease;
    opacity: 0;
}

.burger-menu.open .span3 {
    transform: translateY(-0.875rem) rotate(-45deg);
}

.header {
    width: 100%;
    max-height: 15rem;
    padding: .75rem;
    background-color: rgba(89, 2, 102, 0.4);
    border-radius: 0 0 .5rem 0;
    animation: fadeOutBackground 0.7s 0.6s forwards;
}

.header {
    width: 8rem;
}

.header.visible {
    animation: fadeInBackground 0.7s forwards;
}

.menu {
    height: 10rem;
    pointer-events: none;
}

.menu.visible {
    animation: fadeIn .8s forwards;
    pointer-events: all;
}

.menu.fade-out {
    pointer-events: none;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.1rem;
    align-items: center;
    list-style: none;
    font-size: 1rem;
}

a {
    display: block;
    width: 5rem;
    text-decoration: none;
    border-bottom: solid 2px white;
    color: white;
    opacity: 0;
    position: relative;
}

.menu.visible a {
    animation: fadeIn 0.5s forwards ease;
}

.menu.visible a:nth-child(1) {
    animation-delay: 0.2s;
}

.menu.visible a:nth-child(2) {
    animation-delay: 0.4s;
}

.menu.visible a:nth-child(3) {
    animation-delay: 0.6s;
}

.menu.visible a:nth-child(4) {
    animation-delay: 0.8s;
}

.menu.fade-out a {
    animation: fadeOut 0.5s forwards ease;
    opacity: 1;
}

.menu.fade-out a:nth-child(4) {
    animation-delay: 0.2s;
}

.menu.fade-out a:nth-child(3) {
    animation-delay: 0.4s;
}

.menu.fade-out a:nth-child(2) {
    animation-delay: 0.6s;
}

.menu.fade-out a:nth-child(1) {
    animation-delay: 0.8s;
}

@keyframes fadeInBackground {
    from {
        background-color: rgba(89, 2, 102, 0);
    }

    to {
        background-color: rgba(89, 2, 102, 0.4);
    }
}

@keyframes fadeOutBackground {
    from {
        background-color: rgba(89, 2, 102, 0.4);
    }

    to {
        background-color: rgba(89, 2, 102, 0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-20px);
    }
}

@media(min-width: 1000px) {
    .burger-menu {
        margin-left: 1rem;
    }
    
    a {
        border: 0px;
    }

    li:hover {
        transform: scale(1.1) translateX(4px);
        transition: transform 0.5s ease;
    }

    a {
        transition: transform 0.5s ease;
        position: relative;
        z-index: 2;
    }

    a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: white;
        transition: width .4s;
    }

    li {
        transition: transform 0.5s ease;
    }

    a:hover::after {
        width: 100%;
    }

    .header {
        scale: 1.5;
        translate: 20% 25%;
        position: relative;
        z-index: 1;
    }
    .logo {
        scale: 1.5;
        translate : -20% 25%;
    }
}