.burger-menu {
    width: 2.25rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    cursor: pointer;
    z-index: 10;
}

span {
    display: block;
    border: solid rgb(255, 255, 255);
    border-radius: 1rem;
    width: 1.5rem;
    transition: transform .5s ease, width .5s ease;
}

.span2 {
    width: 2.25rem;
    transition: opacity .3s ease;
}

.burger-menu.open .span1 {
    transform: translateY(0.7rem) rotate(45deg);
}

.burger-menu.open .span2 {
    transition: opacity .3s ease;
    opacity: 0;
}

.burger-menu.open .span3 {
    transform: translateY(-0.7rem) rotate(-45deg);
}

.menu {
    height: 10rem;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.header {
    width: 8rem;
    padding: .75rem;
}

.header.visible {
    background-color: rgba(89, 2, 102, 0.4);
    border-radius: 0 0 .5rem 0;
    opacity: 1;
}

.menu.visible {
    transition: opacity 0.5s ease;
    opacity: 1;
}

ul {
    display: flex;
    flex-direction: column;
    gap: .65rem;
    margin: 1rem 0 0 1rem;
    list-style: none;
}

a {
    display: block;
    width: 4.75rem;
    text-decoration: none;
    color: white;
    border-bottom: solid .1rem white;
}