/* SelectCharacter.css */

.character-selector {
	display: flex;
	flex-direction: column;
	/* Aligner les éléments en colonne pour l'avatar et le pseudo */
	align-items: center;
	/* Centrer les éléments horizontalement */
	justify-content: center;
	gap: 20px;
	/* Espace entre les éléments */
}

.character-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	position: relative;
}

.image-container {
	width: 200px;
	/* Taille du cercle */
	height: 200px;
	/* Taille du cercle */
	border-radius: 50%;
	background-color: #9129a2;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
	position: relative;
	/* Ajouté pour être le parent de l'avatar */
}

.character-image {
	bottom: 0;
	width: 100%;
	height: auto;
	object-fit: contain;
}

.arrow-buttons-container {
	display: flex;
	justify-content: space-between;
	/* Placer les flèches à gauche et à droite */
	width: 6rem;
	position: absolute;
	top: calc(50% - 105px);
	z-index: 1;
	/* Centrer verticalement les flèches */
	transform: translateY(-50%);
	/* Ajuster la position verticale */
}

/* Style du bouton flèche */
.arrow-button {
	background-color: transparent;
	border: 1px solid white;
	cursor: pointer;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	/* Forme ronde */
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.2s;
	margin-top: 10px;
	position: absolute; /* Nécessaire pour que les pseudo-éléments soient positionnés par rapport au cercle */
}

/* Flèche gauche */
.arrow-button.left {
	left: -80px; /* Distance fixe à gauche de l'avatar */
}

/* Flèche droite */
.arrow-button.right {
	right: -80px; /* Distance fixe à droite de l'avatar */
}

.arrow-button:hover {
	transform: scale(1.1);
}

/* Triangle gauche */
.arrow-button.left::before {
	content: "";
	width: 0;
	height: 0;
	/* left: -70px; Espace à gauche */
	border-style: solid;
	border-width: 15px 20px 15px 0;
	/* Taille et orientation du triangle */
	border-color: transparent #f8ac21 transparent transparent;
	position: absolute; /* Positionnement absolu */
	left: 44%; /* Centrer horizontalement */
	top: 50%; /* Centrer verticalement */
	transform: translate(-50%, -50%); /* Ajustement pour centrer */
}

/* Triangle droit */
.arrow-button.right::before {
	content: "";
	width: 0;
	height: 0;
	/* right: -70px; Espace à droite */
	border-style: solid;
	border-width: 15px 0 15px 20px;
	/* Taille et orientation du triangle */
	border-color: transparent transparent transparent #f8ac21;
	position: absolute; /* Positionnement absolu */
	left: 57%; /* Centrer horizontalement */
	top: 50%; /* Centrer verticalement */
	transform: translate(-50%, -50%); /* Ajustement pour centrer */
}

.pseudo-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pseudo-section input {
	width: 160px;
	/* Largeur du champ de saisie */
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 14px;
	text-align: center;
	margin-bottom: 10px;
	/* Espacement sous le champ de saisie */
}

.pseudo-section input::placeholder {
	color: #aaa;
}

.error-message {
	color: red;
	font-size: 12px;
	margin-top: 5px;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (min-width: 1000px) {
	body {
		transform: scale(1.2);
	}
}
